.deck-list-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: visible;
  padding: 0 10px 0 20px;

  .deck-list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .deck-item {
    background: #f9f9f9;
    //border: black solid 1px;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 22px lightgray;
    .deck-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}