.text-input-component {
  .hidden {
    display: none;
  }

  .label {
    border: black solid 1px;
    padding: 5px;
    margin: 5px;
  }

  .input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}