$primary-color: #a146ff;
$secondary-color: #1c9aff;
$alt-color: #ffd315;
$primary-background: #090c19;
$menu-background: #222a31;

@mixin transition($props:all, $seconds:.6s, $curve:linear) {
  transition: $props $seconds $curve;
}

button {
  background: transparent;
  border: $alt-color solid 1px;
  border-radius: 1em;
  color: $secondary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  @include transition();
  &:hover {
    color: $alt-color;
    border: $alt-color solid 1px;
    @include transition();
  }
}
.main-container {
  background: $primary-background;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-toolbar {
    background: $menu-background;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .center-row {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    height: 100vh;
    .side-navbar {
      background: $menu-background;
      position: fixed;
      //padding-top: 100px;
      //padding-bottom: 100px;
      left: 0;
      height: 100%;
      width: 100px;
      .navbar-container {
        //height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
      }
    }

    .main-display {
      height: 100%;
      margin-top: 100px;
      margin-left: 100px;
      overflow-x: hidden;
      overflow-y: scroll;

    }
  }

  .footer {
    background: $menu-background;
    position: fixed;
    margin-left: 100px;
    bottom: 0;
    height: 100px;
    width: 100vw;
  }
}
