$primary-color: #a146ff;
$secondary-color: #4e5eff;
$alt-color: #ffd315;
$primary-background: #f3f3f3;
$menu-background: #d9d1ee;

@mixin transition($props:all, $seconds:.6s, $curve:linear) {
  transition: $props $seconds $curve;
}

button {
  background: $secondary-color;
  border: none;
  border-radius: .4em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 7px 7px 22px lightgray;
  @include transition();
  &:hover {
    background: $secondary-color;
    color: greenyellow;
    @include transition();
  }
}
.main-container {
  background: $primary-background;
  color: #585858;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;

  .top-toolbar {
    background: $menu-background;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 7px 7px 22px lightgray;

  }

  .center-row {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    height: 100vh;
    .side-navbar {
      background: $menu-background;
      position: fixed;
      //padding-top: 100px;
      //padding-bottom: 100px;
      left: 0;
      top: 100px;
      bottom: 100px;
      width: 100px;
      .navbar-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
      }
    }

    .main-display {
      height: 100%;
      width: 100%;
      //margin-top: 100px;
      //margin-left: 100px;
      overflow-x: hidden;
      overflow-y: scroll;

    }
  }

  .footer {
    background: $menu-background;
    box-shadow: -7px -7px 22px lightgray;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100vw;
  }
}
