html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif; }

button {
  background: #4e5eff;
  border: none;
  border-radius: .4em;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.6s linear; }
  button:hover {
    background: #4e5eff;
    color: greenyellow;
    transition: all 0.6s linear; }
  button.add {
    width: 50px;
    height: 50px;
    border-radius: 4em;
    background: greenyellow; }
    button.add svg {
      width: 12px; }

a {
  text-decoration: none; }

.main-container {
  background: #f3f3f3;
  color: #585858;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100vw; }
  .main-container .top-toolbar {
    background: #d9d1ee;
    position: absolute;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9; }
  .main-container .main-display {
    padding-top: 100px;
    height: 100%;
    width: 100%; }

.navbar-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  z-index: 10; }
  .navbar-component .nav-button-container {
    background: white;
    box-shadow: #585858 2px 2px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .navbar-component .nav-button-container .label {
      margin: 10px; }
    .navbar-component .nav-button-container:after {
      display: block;
      content: '';
      height: 10px;
      width: 100%;
      background: #a146ff; }
    .navbar-component .nav-button-container svg {
      width: auto;
      margin: 21px 0 21px 0; }
    .navbar-component .nav-button-container:hover:after {
      background: orange; }
    .navbar-component .nav-button-container:hover .icon {
      fill: orange; }

.text-input-component .hidden {
  display: none; }
.text-input-component .label {
  border: black solid 1px;
  border-radius: 0.4em;
  padding: 5px;
  margin: 5px; }
.text-input-component .input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; }
.text-input-component input {
  width: 100%;
  padding: 10px;
  font-size: 23px;
  background: transparent;
  box-shadow: none;
  border: black solid 1px;
  border-radius: 0.4em;
  text-align: center; }

.textarea-container {
  position: relative; }

.textarea {
  width: 90%;
  outline: none;
  padding: 10px 10px 10px 10px;
  box-shadow: none;
  display: block;
  border: 2px solid black;
  overflow: hidden;
  transition: height 0.2s ease; }

.textarea--ghost {
  opacity: 0.3;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;
  position: absolute;
  top: 0; }

.deck-list-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px 0 20px; }
  .deck-list-component .deck-list {
    list-style: none;
    display: flex;
    flex-direction: column; }
  .deck-list-component .deck-item {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 7px 22px lightgray; }
    .deck-list-component .deck-item .deck-footer {
      display: flex;
      flex-direction: row;
      justify-content: center; }

.create-deck-component {
  display: flex;
  margin: 20px 0 0 0;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-start; }
  .create-deck-component .editor {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px; }
  .create-deck-component .deck-editor {
    position: relative;
    background: white; }
    .create-deck-component .deck-editor .title {
      width: 100%;
      padding: 25px 0 25px 0;
      text-align: center;
      background: #a146ff;
      color: white; }
  .create-deck-component .deck-title-input {
    width: 90%;
    padding: 10px;
    font-size: 23px;
    background: transparent;
    box-shadow: none;
    border: black solid 1px;
    border-radius: 0.4em;
    text-align: center; }
  .create-deck-component .description-textarea {
    padding: 10px;
    background: transparent;
    box-shadow: none;
    border: black solid 1px;
    border-radius: 0.4em; }
    .create-deck-component .description-textarea textarea, .create-deck-component .description-textarea .textarea {
      line-height: 1;
      font-size: 12px;
      border: none;
      resize: none; }
  .create-deck-component .create-deck-form {
    background: white;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2; }
  .create-deck-component .create-deck-list {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 23px 0 23px; }
    .create-deck-component .create-deck-list button.add {
      position: absolute;
      right: 0;
      box-shadow: 7px 7px 32px #222429; }
  .create-deck-component .deck-item {
    background: rgba(255, 255, 255, 0.6);
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    transition: all 0.6s linear; }
    .create-deck-component .deck-item.active, .create-deck-component .deck-item:hover {
      cursor: pointer;
      background: white;
      box-shadow: 7px 7px 22px #9a9a9a;
      transition: all 0.6s linear; }
    .create-deck-component .deck-item .deck-title {
      background: #a146ff;
      color: white;
      width: 100%;
      text-align: center;
      font-size: 18px; }
    .create-deck-component .deck-item .deck-description {
      padding: 10px;
      font-size: 12px;
      font-weight: 300; }
    .create-deck-component .deck-item .deck-footer {
      padding: 10px;
      font-size: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
  .create-deck-component div.cards-list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative; }
    .create-deck-component div.cards-list button.add {
      position: absolute;
      right: 0;
      top: 30px;
      box-shadow: 7px 7px 32px #222429; }
      .create-deck-component div.cards-list button.add:hover .icon {
        fill: orange; }
    .create-deck-component div.cards-list .title {
      background: #a146ff;
      color: white;
      width: 100%;
      text-align: center;
      font-size: 18px; }
  .create-deck-component div.card-item {
    margin: 0 0 10px 0;
    padding: 20px 10px;
    border-bottom: none;
    background: white;
    transition: all 0.6s linear; }
    .create-deck-component div.card-item:hover {
      transition: all 0.6s linear;
      cursor: pointer;
      background: #cfe4f5; }
  .create-deck-component div.card-details {
    background: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .create-deck-component div.card-details .question {
      background: none;
      height: auto;
      border-right: black solid 1px;
      text-align: center;
      flex-basis: 33%; }
      .create-deck-component div.card-details .question .textarea, .create-deck-component div.card-details .question textarea {
        line-height: 1;
        font-size: 12px;
        background: none;
        border: none;
        resize: none;
        text-align: center; }
    .create-deck-component div.card-details .answer {
      background: none;
      height: 100%;
      flex-basis: 67%; }
      .create-deck-component div.card-details .answer .textarea, .create-deck-component div.card-details .answer textarea {
        line-height: 1;
        font-size: 12px;
        background: none;
        border: none;
        resize: none; }

.select-deck-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px; }
  .select-deck-component div.cards-list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.6s linear; }
  .select-deck-component div.card-item {
    margin: 10px 0 0 0;
    padding: 20px;
    background: white; }
    .select-deck-component div.card-item:hover {
      transition: all 0.6s linear;
      cursor: pointer;
      background: #d5dbf0; }
  .select-deck-component div.card-item div.card-details {
    transition: all 0.6s linear;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .select-deck-component div.card-item div.card-details .question {
      background: none;
      padding: 10px;
      border-right: #808080 solid 1px;
      text-align: center;
      flex-basis: 33%; }
    .select-deck-component div.card-item div.card-details .answer {
      background: none;
      text-align: center;
      padding: 10px;
      flex-basis: 67%; }
  .select-deck-component .deck-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0 23px 14px 23px;
    overflow-y: scroll; }
  .select-deck-component .deck-item {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 200px;
    transition: all 0.6s linear; }
    .select-deck-component .deck-item .deck-title {
      width: 100%;
      padding: 25px 0 25px 0;
      text-align: center;
      background: #a146ff;
      color: white;
      font-size: 18px; }
    .select-deck-component .deck-item .deck-description {
      padding: 10px;
      font-size: 12px;
      text-align: left; }
    .select-deck-component .deck-item .deck-footer {
      padding: 10px;
      font-size: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .select-deck-component .deck-item.active {
      box-shadow: 7px 7px 22px #000000; }
  .select-deck-component .decks {
    background: white;
    box-shadow: #585858 2px 2px 10px;
    display: flex;
    flex-direction: column; }

.flash-card-component {
  position: relative;
  padding-top: 30px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #12181d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; }
  .flash-card-component .flash-card {
    height: 60%;
    position: relative;
    background: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .flash-card-component .flash-card .prev {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0; }
      .flash-card-component .flash-card .prev .icon {
        fill: #a146ff;
        width: 64px;
        opacity: .3; }
    .flash-card-component .flash-card .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 0%; }
      .flash-card-component .flash-card .next .icon {
        fill: #a146ff;
        width: 64px;
        opacity: .3; }

/*# sourceMappingURL=index.css.map */
