html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.center-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@import './main/app.style';
@import './navbar/navbar.style';
@import './forms/text-input.style';
@import './forms/textarea.style';
@import './decks/deck-list.style';
@import './decks/create-deck.style';
@import './decks/select-deck.style';
@import './flash-cards/flash-card.style';
@import './matching/matching.style';
